USE [master]
GO
/****** Object:  Database [KeyboardShop]    Script Date: 6/15/2021 8:36:35 PM ******/
CREATE DATABASE [KeyboardShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KeyboardShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\KeyboardShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KeyboardShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\KeyboardShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KeyboardShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KeyboardShop]
GO
/****** Object:  Table [dbo].[app_role]    Script Date: 6/15/2021 8:36:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[app_role](
	[role_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 6/15/2021 8:36:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 6/15/2021 8:36:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[password] [varchar](4000) NOT NULL,
	[phone] [varchar](20) NULL,
	[register_date] [date] NULL,
	[image] [varchar](200) NULL,
	[address] [nvarchar](1000) NOT NULL,
	[status] [bit] NOT NULL,
	[gender] [bit] NULL,
	[admin] [bit] NULL,
 CONSTRAINT [PK__customer__CD65CB851ADF9E73] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orderdetails]    Script Date: 6/15/2021 8:36:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderdetails](
	[order_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 6/15/2021 8:36:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[amount] [float] NOT NULL,
	[customer_id] [int] NOT NULL,
	[order_date] [date] NULL,
	[status] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 6/15/2021 8:36:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[desciption] [nvarchar](4000) NOT NULL,
	[discount] [float] NOT NULL,
	[entered_date] [date] NULL,
	[image] [varchar](200) NULL,
	[name] [nvarchar](100) NOT NULL,
	[quantity] [int] NOT NULL,
	[status] [smallint] NOT NULL,
	[unit_price] [float] NOT NULL,
 CONSTRAINT [PK__products__47027DF55DF14F77] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_role]    Script Date: 6/15/2021 8:36:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_role](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[role_id] [bigint] NULL,
	[customer_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[app_role] ON 

INSERT [dbo].[app_role] ([role_id], [name]) VALUES (1, N'ROLE_ADMIN')
INSERT [dbo].[app_role] ([role_id], [name]) VALUES (2, N'ROLE_USER')
SET IDENTITY_INSERT [dbo].[app_role] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([category_id], [category_name], [status]) VALUES (1, N'E-DRA', 0)
INSERT [dbo].[categories] ([category_id], [category_name], [status]) VALUES (3, N'Filco', 0)
INSERT [dbo].[categories] ([category_id], [category_name], [status]) VALUES (4, N'Akko', 0)
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[customers] ON 

INSERT [dbo].[customers] ([customer_id], [email], [name], [password], [phone], [register_date], [image], [address], [status], [gender], [admin]) VALUES (1, N'lamnhtpd03789@fpt.edu.vn', N'Nguyễn Hữu Thanh Lam', N'$2a$10$UkIPM2DZfP/i2ppMfWALCucZO6Hp05cW2xw.oU06/Rovt6cBKO3zu', N'0987654321', CAST(N'2021-06-13' AS Date), N'IMG_E0207.JPG', N'Thừa Thiên Huế', 1, 1, 1)
INSERT [dbo].[customers] ([customer_id], [email], [name], [password], [phone], [register_date], [image], [address], [status], [gender], [admin]) VALUES (2, N'lam03022001@gmail.com', N'Thanh Lam', N'$2a$10$7HcgbekBB2JDaZxGTaNFie3DhlTouCak9zOGkV9kHXJyd6LehKWPC', N'0987654321', CAST(N'2021-06-14' AS Date), N'IMG_E0207.JPG', N'Thừa Thiên Huế', 1, 1, 0)
INSERT [dbo].[customers] ([customer_id], [email], [name], [password], [phone], [register_date], [image], [address], [status], [gender], [admin]) VALUES (3, N'dat@gmail.com', N'Nguyen Thanh Dat', N'$2y$12$8tleNpHGtHScVZNXd1fKeu8dSIU4cbU.eWzgDGuXtMm/IBRVt/neu ', N'0987654321', CAST(N'2021-06-11' AS Date), N'user.png', N'Quảng trị', 1, 1, 0)
SET IDENTITY_INSERT [dbo].[customers] OFF
GO
SET IDENTITY_INSERT [dbo].[orderdetails] ON 

INSERT [dbo].[orderdetails] ([order_detail_id], [order_id], [product_id], [quantity], [unit_price]) VALUES (9, 8, 21, 4, 1800000)
INSERT [dbo].[orderdetails] ([order_detail_id], [order_id], [product_id], [quantity], [unit_price]) VALUES (10, 8, 10, 1, 1080000)
INSERT [dbo].[orderdetails] ([order_detail_id], [order_id], [product_id], [quantity], [unit_price]) VALUES (11, 9, 4, 1, 719100)
SET IDENTITY_INSERT [dbo].[orderdetails] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([order_id], [amount], [customer_id], [order_date], [status]) VALUES (8, 8280000, 2, CAST(N'2021-06-14' AS Date), 2)
INSERT [dbo].[orders] ([order_id], [amount], [customer_id], [order_date], [status]) VALUES (9, 9519100, 6, CAST(N'2021-06-14' AS Date), 2)
INSERT [dbo].[orders] ([order_id], [amount], [customer_id], [order_date], [status]) VALUES (10, 3805000, 4, CAST(N'2021-06-14' AS Date), 3)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[user_role] ON 

INSERT [dbo].[user_role] ([id], [role_id], [customer_id]) VALUES (1, 1, 1)
INSERT [dbo].[user_role] ([id], [role_id], [customer_id]) VALUES (2, 2, 2)
INSERT [dbo].[user_role] ([id], [role_id], [customer_id]) VALUES (3, 2, 3)
SET IDENTITY_INSERT [dbo].[user_role] OFF
GO
ALTER TABLE [dbo].[orderdetails]  WITH CHECK ADD  CONSTRAINT [FK92im1bt9gndrexccag7x5oq92] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[orderdetails] CHECK CONSTRAINT [FK92im1bt9gndrexccag7x5oq92]
GO
ALTER TABLE [dbo].[orderdetails]  WITH CHECK ADD  CONSTRAINT [FKhnsosbuy7bhpqpnt3bjr7sh8x] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[orderdetails] CHECK CONSTRAINT [FKhnsosbuy7bhpqpnt3bjr7sh8x]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKpxtb8awmi0dk6smoh2vp1litg] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKpxtb8awmi0dk6smoh2vp1litg]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FKog2rp4qthbtt2lfyhfo32lsw9] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FKog2rp4qthbtt2lfyhfo32lsw9]
GO
ALTER TABLE [dbo].[user_role]  WITH CHECK ADD  CONSTRAINT [FK6khb6aehv520qkn1lyykakjx9] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[user_role] CHECK CONSTRAINT [FK6khb6aehv520qkn1lyykakjx9]
GO
ALTER TABLE [dbo].[user_role]  WITH CHECK ADD  CONSTRAINT [FKp6m37g6n6c288s096400uw8fw] FOREIGN KEY([role_id])
REFERENCES [dbo].[app_role] ([role_id])
GO
ALTER TABLE [dbo].[user_role] CHECK CONSTRAINT [FKp6m37g6n6c288s096400uw8fw]
GO
USE [master]
GO
