<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/dashboard.html}">
<head>
</head>

<body>
	<div layout:fragment="content" class="col-lg-10 my-4"
		style="min-height: 600px; border: 1px solid rgba(128, 128, 128, 0.212);">
		<div class="row">
			<div class="col">
				<form th:action="@{/admin/customers}" method="post">
					<button class="btn btn-primary float-right m-3">Danh sách
						khách hàng</button>
				</form>
			</div>
		</div>
		<div class="row">
			<form th:action="@{/admin/customers/add}" class="col" method="post"
				enctype="multipart/form-data" th:object="${customer}">
				<div class="row">
					<div class="col-7 ml-3">
						<div class="form-group" hidden="hidden">
							<label for="customerId">ID</label> <input type="text" name=""
								id="customerId" class="form-control" th:field="*{customerId}">
						</div>
						<div class="form-group">
							<label for="name">Họ và tên</label> <input type="text"
								class="form-control" id="name" th:field="*{name}"> <small
								class="text-danger" th:if="${#fields.hasErrors('name')}">Hãy
								nhập họ và tên</small>
						</div>
						<div class="form-group">
							<label for="email">Email</label> <input type="text"
								th:readonly="*{edit}" id="email" class="form-control"
								th:field="*{email}"> <small id="email"
								class="text-danger" th:if="${#fields.hasErrors('email')}">Hãy
								nhập đúng email</small> <small class="text-danger" th:if="${error}">Email
								này đã có được sử dụng !</small>
						</div>
						<div class="form-group">
							<label for="password">Password</label> <input type="password"
								name="password" id="password" class="form-control"
								th:value="*{password}"> <small id="pasword"
								class="text-danger" th:if="${#fields.hasErrors('password')}">Hãy
								nhập đúng password (trên 6 kí tự)</small>
						</div>
						<div class="form-group">
							<div class="form-group">
								<label for="gender">Giới Tính</label> <select id="gender" name="gender"
									class="form-control">
									<option th:selected="*{gender}" value="true">Nam</option>
									<option th:selected="!*{gender}" value="false">Nữ</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="phone">Số điện thoại</label> <input type="text"
								class="form-control" id="phone" th:field="*{phone}"> <small
								id="phone" class="text-danger"
								th:if="${#fields.hasErrors('phone')}">Hãy nhập đúng số
								điện thoại</small>
						</div>
						<div class="form-group">
							<label for="address">Địa chỉ</label> <input type="text"
								class="form-control" id="address" th:field="*{address}">
							<small id="address" class="text-danger"
								th:if="${#fields.hasErrors('address')}">Hãy nhập địa chỉ</small>
						</div>
					</div>
					<div class="col-3 mt-3 offset-1">
						<div class="text-center m-0">
							<img th:src="@{'/getcustomer/'+${photo}}" width="60%" id="img"
								class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}">
							<div class="form-group">
								<label for="customerImage">Hình ảnh</label> <input type="file"
									name="photo" id="customerImage" class="form-control-file"
									onchange="readURL(this);"> <input type="hidden"
									name="imgC" th:value="*{image}" />
							</div>
						</div>

						<!-- 						<label for="status">Trạng thái</label> <select -->
						<!-- 							class="form-control" name="" th:field=*{status} id="status"> -->
						<!-- 							<option th:selected="*{status==0}" value="0">Đang hoạt -->
						<!-- 								động</option> -->
						<!-- 							<option th:selected="*{status==1}" value="1">Ngừng hoạt -->
						<!-- 								động</option> -->
						<!-- 						</select> -->
					</div>

				</div>
				<div class="row">
					<div class="col m-3">
						<input type="hidden" name="edit" th:field="*{edit}" />
						<button class="btn btn-primary">
							<span th:if="*{edit}">Sửa</span> <span th:if="*{!edit}">Lưu</span>
						</button>

						<button class="btn btn-success ml-2"
							formaction="/admin/customers/add" formmethod="get">Làm
							mới</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>

</html>